@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    // outline: 1px yellow solid;
}

:root {
    --main-color: #C70039;
}

::selection {
    color: white;
    background: var(--main-color);
}

body {
    height: 100%;
    // background-color: #eee;
}

nav {
    z-index: 5;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    padding: 10px;
    height: 40px;
    position: sticky;
    background: white;
    top: 0;

    p {
        font-size: 20px;
        padding: 5px;
        float: left;
        
        .fa-circle {
            color: red;
            margin-right: 5px;
        }
    }

    .links ul {
        float: right;
        list-style-type: none;

        li {
            float: left;
            margin-right: 30px;
            margin-top: 10px;

            a {
                color: black;
                text-decoration: none;
                transition: .5s;
                width: 200px;
            }

            .normal::after {
                content: "";
                display: block;
                background: var(--main-color);
                width: 0%;
                height: 1px;
                transition: .5s;
            }

            .normal:hover {
                color: var(--main-color);
            }

            .normal:hover::after {
                width: 100%;
            }

            .join {
                color: var(--main-color);
                border: 2px solid var(--main-color);
                padding: 1.5px 1.5rem;
                border-radius: 45px;
                transition: .5s;
            }

            .join:hover {
                background: var(--main-color);
                color: white;
            }
        }
    }
}

.main {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    font-size: 175%;

    .background {
        opacity: .5;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    h1 {
        font-family: "Poppins";
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        color: white;
        text-shadow: 0 0 10px rgb(0,0,0);
        z-index: 0;
        line-height: 2.25rem;

        .fa-circle {
            color: red;
            margin-right: 5px;
        }

        span {
            font-size: 20px;
            font-family: "Noto Sans JP", sans-serif;
            text-decoration: none;
        }
    }

    h1::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
    }

    h2 {
        text-shadow: 0 0 5px rgba(0,0,0,.5);
        position: absolute;
        font-size: 20px;
        color: white;
        top: 75%;
        left: 50%;
    }
}

.content {
    line-height: 2rem;
    padding: 1rem 8rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #333;

    a {
        color: var(--main-color);
        transition: .2s;
        text-decoration: none;
    }

    a:hover {
        color: #ff0048
    }

    .dates {
        padding: 2rem 0;
        font-size: 125%;
    }

    .welcome h2 {
        padding: 2rem 0;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    .info {
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 10px;

        .infoContent {
            text-align: center;
            margin: 2rem 0;
            padding: 2rem;
            background: #efefee;
            box-shadow: 0 0 5px rgba(0,0,0,.25);
        }
    }

    .goal {
        padding: 2rem 0;
        text-align: center;

        a {
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            color: var(--main-color);
            border: 2px solid var(--main-color);
            border-radius: 45px;
            padding: .5rem 3rem;
            margin-top: 1rem;
            text-align: center;
            transition: .5s;
        }

        a:hover {
            background-color: var(--main-color);
            color: white
        }
    }

    iframe {
        margin-top: 2rem;
    }
}

footer {
    padding: 1.5rem 12rem;
    color: #eee;
    background: #333;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    
    a {
        color: #ccc;
    }

    a:hover {
        color: #eee;
    }
}